:root {
  --text-color: #121213;
  --accent-color: #617c9b;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #f4f4f4;
}

.int_bld {
  color: var(--accent-color);
}

.acnt {
  font-family: "Ortica";
  font-size: 1.4rem;

  margin-right: 0.5rem;
}

.point {
  font-family: "spoqa han sans neo";
  font-weight: 500;
  font-size: 1rem;
  color: var(--accent-color);
}

.point_eng {
  font-family: "PoppinsR";
  font-size: 1.12rem;
  color: var(--accent-color);
}

/* header */

.header {
  width: 100%;
  height: 4.2rem;
  z-index: 9999;
}

/*** GNB ***/
.gnb {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: #f4f4f4;
  opacity: 95%;
  z-index: 999;
}

.menu {
  display: flex;
  align-items: center;
}

.menu li {
  padding: 20px;
}

.menu li a:hover {
  color: var(--accent-color);
  transition: all 0.3s;
}

.dn {
  width: 100%;
  position: fixed;
  z-index: 9999;
}

.btn {
  font-family: "Ortica";
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  top: 20px;
  right: 50px;
  width: 75px;
  height: 25px;
  line-height: 1.6;
  border: 1px solid #121213;
  border-radius: 50% / 50%;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.btn:hover {
  width: 75px;
  height: 25px;
  border: 2px solid #121213;
  border-radius: 50% / 50%;
  background-color: #121213;
  color: #f4f4f4;
  cursor: pointer;
  transition: all 0.3s;
}
.togglebtn {
  display: none;
  position: absolute;
  top: 20px;
  left: 5%;
  width: 20px;
  height: 20px;
}

/*** Intro ***/
.intro_wrap {
  margin-top: 2%;
  /* margin-bottom: 15%; */
}

.intro_container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 110px;
  line-height: 100px;
  margin-bottom: 50px;
  font-weight: 300;
}

.intro_main {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main1 {
  text-align: start;
}
.main2 {
  text-align: end;
}
.main3 {
  text-align: center;
}

.intro_bg {
  width: 80%;
  vertical-align: middle;
}

.intro_text {
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.intro_name {
  width: 209px;
  height: 70px;
  border: 1px solid #121213;
  border-radius: 50% / 50%;
  font-size: 20px;
  line-height: 70px;
  text-align: center;
  margin: 0 auto;
  align-items: center;
}

.intro_exp {
  flex-basis: 28%;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: justify;
}

/*** About Me ***/
.about_wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  margin-bottom: 10%;
}

.about_container1 {
  flex-flow: column nowrap;
}

.about_container2 {
  flex-flow: column nowrap;
  flex-basis: 70%;
}

/* Link */
.about_container1 ul {
  font-size: 2.5rem;
}

.about_container1 > ul > li {
  margin-bottom: 0.8rem;
}

.about_container1 > ul > li > a:hover {
  color: var(--accent-color);
  transition: all 0.3s;
}

/* Profile */
.about_profile {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.about_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
}
.name {
  flex-shrink: 0;
  margin-right: 20px;
  font-size: 2rem;
  font-weight: 500;
}

.line {
  width: 100%;
  height: 1px;
  border: none;
  background-color: var(--text-color);
}
.about_profile p {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 1.2rem;
}

.about_intro {
  display: flex;
  justify-content: space-between;
}

.sec {
  flex-basis: 47%;
  /* text-align: justify; */
}

.p_eng {
  font-family: "PoppinsT";
  font-size: 1.12rem;
  line-height: 1.3rem;
}

.p_kor {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 300;
}

/*** Skill & Tool ***/

.st_wrap {
  padding: 0 10%;
  margin-bottom: 10%;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

.st_container1 {
  width: 100%;
  margin: 0 auto 3.1rem;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  flex-grow: 0;
}

/* .st_dev {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.st_des {
  display: flex;
  justify-content: center;
  flex-direction: row;
} */

.st_container1 p {
  width: 135px;
  height: 45px;
  border: 1px solid #121213;
  border-radius: 50%/50%;
  margin: 10px;
  line-height: 45px;
  text-align: center;
  font-weight: 500;
}

.st_container2 {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.st_container2 p {
  font-size: 1.2rem;
  color: var(--accent-color);
}

.st_det {
  padding: 0 5px;
  flex-basis: 30%;
  margin-bottom: 2.5rem;
}

.st_det hr {
  height: 1px;
  background-color: #121213;
  border: 0;
  margin-bottom: 1rem;
}

.st_det span {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 300;
  font-size: 1rem;
}

/** Projects **/

.proj_wrap {
  padding: 0 10%;
  margin-bottom: 10%;
}

.proj_container1 {
  margin-bottom: 3rem;
}

.sub {
  width: 135px;
  height: 45px;
  border: 1px solid #121213;
  border-radius: 50%/50%;
  margin: 0.6rem auto 2rem;
  line-height: 45px;
  text-align: center;
}

.proj_box {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.proj_item {
  display: flex;
  flex-direction: column;
  padding: 0 5px;
  flex-basis: 30%;
}

.proj_item img {
  width: 100%;
  /* height: 250px; */
  display: block;
  margin-bottom: 0.6rem;
  cursor: pointer;
  border: 1px solid #121213;
}

.project_title {
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
}

.project_title:hover {
  color: var(--accent-color);
  transition: all 0.3s;
}

.proj_item a {
  cursor: pointer;
}

/*** FAQ ***/
.faq_wrap {
  padding: 0 20%;
  margin-bottom: 10%;
  box-sizing: border-box;
}

.faq_box .faq_item {
  /* padding: 0 1rem; */
  border-bottom: 1px solid #5f5f5f;
}

.faq_box .faq_item button[aria-expanded="true"] {
  border-bottom: 2px solid #617c9b;
}

.faq_box button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1rem 0;
  color: #000;
  font-size: 1rem;
  border: none;
  background: none;
  outline: none;
}

.faq_box button:hover,
.faq_box button:focus {
  cursor: pointer;
  color: #617c9b;
  transition: all 0.3s;
}

.faq_box button:hover::after,
.faq_box button:focus::after {
  cursor: pointer;
  color: #617c9b;
  border: 1px solid #617c9b;
}

.faq_box button .faq_title {
  padding: 1rem 1.5rem 1rem 0;
}

.faq_box button .icon {
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 0;
  width: 19px;
  height: 19px;
  border: 1px solid;
  border-radius: 20px;
}

.faq_box button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 9px;
  height: 1px;
  background: currentColor;
}

.faq_box button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 1px;
  height: 9px;
  background: currentColor;
}

.faq_box button[aria-expanded="true"] {
  color: #617c9b;
}

.faq_box button[aria-expanded="true"] .icon::after {
  width: 0;
}

.faq_box button[aria-expanded="true"] + .faq_content {
  opacity: 1;
  max-height: 13rem;
  transition: all 0.5s linear;
  will-change: opacity, max-height;
}

.faq_box .faq_content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 0.3s linear;
  will-change: opacity, max-height;
}

.faq_box .faq_content p {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 300;
  font-size: 0.9rem;
  margin: 1.5rem 0;
}

/*** Footer ***/
.footer {
  padding: 0 10%;
}

.footer hr {
  height: 2px;
  background-color: #121213;
  margin-bottom: 30px;
  border: none;
}

.footer_wrap {
  display: flex;
  justify-content: space-between;
}

.footer_title {
  margin-bottom: 20px;
}

.site_info {
  font-family: "spoqa han sans neo";
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 0.9rem;
  flex-basis: 49%;
}

/* Contact */
.contact_wrap {
  margin-bottom: 10%;
  flex-basis: 49%;
}

.contact {
  display: flex;
  justify-content: space-between;
}

.contact_box {
  flex-basis: 49%;
}

.contact_item {
  display: flex;
  margin-bottom: 0.2rem;
}

.contact li p {
  width: 55px;
}

.contact a {
  font-family: "Spoqa Han Sans Neo";
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.6;
  margin-left: 0.8rem;
}

.contact a:hover {
  color: var(--accent-color);
  transition: all 0.3s;
}

.copy {
  display: flex;
  justify-content: center;
  margin-bottom: 1.9rem;
  font-size: 0.8rem;
}

/* night */

.intro_name_color {
  width: 209px;
  height: 70px;
  border: 2px solid #f4f4f4;
  border-radius: 50% / 50%;
  font-size: 20px;
  line-height: 70px;
  text-align: center;
  margin: 80px auto 110px;
}

.line_color {
  width: 100%;
  height: 2px;
  background-color: #f4f4f4;
}
