:root {
  --text-color: #121213;
  --accent-color: #617c9b;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f4f4f4;
}

.int_bld {
  color: var(--accent-color);
}

.acnt {
  font-family: "Ortica";
  font-size: 1.4rem;
  margin-right: 0.5rem;
}

/* header */

.header {
  width: 100%;
  height: 4.2rem;
  z-index: 10;
}

/*** GNB ***/
.gnb {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu {
  display: none;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: absolute;
  top: 63px;
  background-color: #f4f4f4;
  opacity: 95%;
}

.menu li {
  width: 100%;
  text-align: center;
  padding: 0 0 20px;
}

.menu li a:hover {
  color: var(--accent-color);
  transition: all 0.3s;
}

.nav_bg {
  width: 100%;
  height: 63px;
  background-color: #f4f4f4;
  opacity: 91%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.btn {
  right: 5%;
}

.menu_btn {
  position: absolute;
  top: 20px;
  left: 5%;
  display: block;
  cursor: pointer;
  transform: translate((-50%, -50%));
}

.menu_line {
  display: block;
  background-color: #121213;
  width: 24px;
  height: 2px;
  transition: 0.25s margin 0.25s, 0.25s transform;
}

.menu_btn span:nth-child(1) {
  margin-bottom: 7px;
}

.menu_btn span:nth-child(3) {
  margin-top: 7px;
}

.menu_btn.active span {
  transition: 0.25s margin, 0.25s transform 0.25s;
}

.menu_btn.active span:nth-child(1) {
  margin-top: 7px;
  margin-bottom: -2px;
  transform: rotate(45deg);
}

.menu_btn.active span:nth-child(2) {
  transform: rotate(45deg);
}

.menu_btn.active span:nth-child(3) {
  margin-top: -2px;
  transform: rotate(135deg);
}

.menu_fadein {
  animation: fadein 1.5s;
}

.menu_fadeout {
  animation: fadeout 1.5s;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 95%;
  }
}
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 95%;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 95%;
  }
}

@-o-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 95%;
  }
}

@keyframes fadeout {
  0% {
    opacity: 95%;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeout {
  0% {
    opacity: 95%;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeout {
  0% {
    opacity: 95%;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeout {
  0% {
    opacity: 95%;
  }
  100% {
    opacity: 0;
  }
}

.menu.flex {
  display: flex;
}

/*** Intro ***/

.intro_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
  line-height: 45px;
  margin-top: 50px;
  font-weight: 300;
  transition: all 0.3s;
}

.intro_main {
  width: 75%;
}

.intro_bg {
  width: 90%;
}

.intro_text {
  padding: 0 5%;
  margin-bottom: 10%;
  flex-direction: column;
  justify-content: space-between;
  /* margin-bottom: 15%; */
}

.intro_name {
  width: 150px;
  height: 50px;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  transition: all 0.3s;
  margin: 3rem auto;
}

/*** About Me ***/
.about_wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 5%;
  margin-bottom: 15%;
}

/* Link */

.about_container1 ul {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 1.6rem;
  flex-flow: row nowrap;
  margin-bottom: 0.8rem;
  transition: all 0.3s;
}
.about_container1 ul > li {
  margin: 0;
}

.about_container1 > ul > li > a:hover {
  color: var(--accent-color);
}

/* About Profile */

.about_container2 {
  flex-flow: row nowrap;
}

.about_profile {
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
  margin-bottom: 2rem;
  transition: 0.2s ease;
}

.about_name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.8rem;
}
.name {
  flex-shrink: 0;
  margin-right: 20px;
  font-size: 2rem;
  font-weight: 500;
}

/* About Intro */

.about_intro {
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
}

.about_intro .sec {
  flex-basis: 100%;
  margin-bottom: 2rem;
}

/*** Skill & Tool ***/

.st_wrap {
  padding: 0 5%;
  margin-bottom: 15%;
}

.st_container {
  margin-bottom: 0;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

.st_det {
  flex-basis: 100%;
  height: 25vh;
}

/** Projects **/

.proj_wrap {
  padding: 0 5%;
  margin-bottom: 15%;
}

.proj_wrap .proj_container {
  margin-bottom: 0;
}

.proj_item {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.proj_item img {
  display: block;
}

/*** FAQ ***/
.faq_wrap {
  padding: 0 5%;
  margin-bottom: 15%;
}

/*** Footer ***/
.footer {
  padding: 0 5%;
}

.footer_wrap {
  display: flex;
  flex-flow: column wrap;
}

.info_wrap {
  margin-bottom: 1.8rem;
}

/*** Night ***/

.night_menu {
  display: none;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: absolute;
  top: 63px;
  background-color: #121213;
  opacity: 95%;
}

.night_nav_bg {
  background-color: #121213;
}

.night_line {
  background-color: #f4f4f4;
}
