:root {
  --text-color: #121211;
  --accent-color: #e68c6d;
}

body {
  background-color: #fffbf0;
}

.int_bld {
  color: var(--accent-color);
}

.acnt {
  font-family: "Ortica";
  font-size: 1.4rem;
  margin-right: 0.5rem;
}

/* header */

.header {
  width: 100%;
  height: 4.2rem;
  z-index: 10;
}

/*** GNB ***/
.gnb {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 0 2%;
  position: fixed;
  background-color: #fffbf0;
  opacity: 95%;
}

.menu {
  display: flex;
  align-items: center;
}

.menu li {
  padding: 20px 5px 20px 15px;
}
.dn {
  width: 100%;
  position: fixed;
  z-index: 10;
}
.btn {
  position: absolute;
  top: 20px;
  right: 5%;
  width: 75px;
  height: 25px;
  border: 1px solid #121211;
  border-radius: 50% / 50%;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

/*** Intro ***/

.intro_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 60px;
  text-align: center;
  line-height: 60px;
  margin-top: 60px;
  font-weight: 300;
  transition: all 0.3s;
}

.intro_name {
  width: 150px;
  height: 50px;
  border: 2px solid #121211;
  border-radius: 50% / 50%;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  margin: 80px auto;
  transition: all 0.3s;
}

/*** About Me ***/
.about_wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 5%;
  margin-bottom: 10%;
}

/* Link */

.about_container1 ul {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 1.6rem;
  flex-flow: row nowrap;
  margin-bottom: 2%;
  transition: all 0.3s;
}

.about_container1 > ul > li > a:hover {
  color: var(--accent-color);
}

/* About Profile */

.about_container2 {
  flex-flow: row nowrap;
}

.about_profile {
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
  margin-bottom: 2rem;
  transition: 0.2s ease;
}

.about_name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.8rem;
}
.name {
  flex-shrink: 0;
  margin-right: 20px;
  font-size: 2rem;
  font-weight: 500;
}

.line {
  width: 100%;
  height: 2px;
  background-color: var(--text-color);
}

/* About Intro */

.about_intro {
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
}

.about_intro p {
  margin-bottom: 1.25rem;
}

.sec {
  flex-basis: 100%;
}

.p_eng {
  font-family: "Poppins";
  font-size: 1.12rem;
  font-weight: 300;
  line-height: 1.3rem;
}

.p_kor {
  font-family: "Spoqa Han Sans Neo";
  font-size: 1rem;
  font-weight: 300;
}

/*** Skill & Tool ***/

.st_wrap {
  padding: 0 5%;
  margin-bottom: 10%;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

.st_container1 {
  width: 100%;
  margin: 0 auto 3.1rem;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

/* .st_dev {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.st_des {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
} */

.st_container1 p {
  width: 135px;
  height: 45px;
  border: 2px solid #121211;
  border-radius: 50%/50%;
  margin: 10px;
  line-height: 45px;
  text-align: center;
  font-weight: 500;
}

.st_container2 {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.st_container2 p {
  font-size: 1.9rem;
  color: var(--accent-color);
}

.st_det {
  flex-basis: 100%;
  margin-bottom: 2.5rem;
}

/** Projects **/

.proj_wrap {
  padding: 0 5%;
  margin-bottom: 10%;
}

.proj_container1 {
  margin-bottom: 3rem;
}

.sub {
  width: 135px;
  height: 45px;
  border: 2px solid #121211;
  border-radius: 50%/50%;
  margin: 0.6rem auto 2rem;
  line-height: 45px;
  text-align: center;
  font-weight: 500;
}

.proj_box {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.proj_item {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.proj_item img {
  /* width: 30%; */
  height: 220px;
  margin-bottom: 0.6rem;
}

.proj_item a {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
  cursor: pointer;
}

/*** FAQ ***/
.faq_wrap {
  padding: 0 5%;
  margin-bottom: 10%;
}

/*** Footer ***/
.footer {
  padding: 0 5%;
}
