/* Font */

@font-face {
  font-family: "Ortica";
  src: url("../fonts/Ortica-Light.otf");
}

@font-face {
  font-family: "Noto Sans KR Light";
  src: url("../fonts/NotoSansKR-Light.otf");
}

@font-face {
  font-family: "Noto Sans KR Regular";
  src: url("../fonts/NotoSansKR-Regular.otf");
}

@font-face {
  font-family: "Noto Sans KR Bold";
  src: url("../fonts/NotoSansKR-Bold.otf");
}

/* reset */

body,
h1,
h2,
h3,
div,
header,
main,
footer,
section,
article,
nav,
ul,
li,
form,
fieldset,
legend,
label,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ortica", "PoppinsL", "PoppinsB", "PoppinsT", "Poppins",
    "Spoqa Han Sans Neo";
  font-size: 16px;
  /* line-height: 1.5; */
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

form,
input,
button {
  vertical-align: middle;
}

button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
