/* Font */

@font-face {
  font-family: "Ortica";
  src: url("../fonts/Ortica-Light.otf");
}

@font-face {
  font-family: "PoppinsT";
  src: url("../fonts/Poppins-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "PoppinsL";
  src: url("../fonts/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: "PoppinsB";
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  src: url("../fonts/SpoqaHanSansNeo-Light.ttf") format("truetype");
}

/* reset */

body,
h1,
h2,
h3,
div,
header,
main,
footer,
section,
article,
nav,
ul,
li,
form,
fieldset,
legend,
label,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ortica", arial, "Poppins", "Spoqa Han Sans Neo";
  font-size: 16px;
  /* line-height: 1.5; */
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

form,
input,
button {
  vertical-align: middle;
}

button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
